@use "reset.scss";

html {
  font-size: clamp(5mm, 2vh, 7mm);
  background-color: azure;
  padding: 3px;
  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  font-weight: normal;
  min-height: 100svh;
  background-color: whitesmoke;
}

body {
  margin: 3px;
  padding: 3px;
}

div.content {
  display: grid;
  grid-template-columns: 1fr [bigger-start] 1fr [middle-start] clamp(
      5rem,
      80svw,
      30rem
    ) [middle-end] 1fr [bigger-end] 1fr;
    &:hover {
        background-color: white;
        z-index: 5;
        *{
            z-index: 5;
        }
    }
  > * {
    grid-column: middle;
    // border: thin solid red;
    padding: 10px;
  }
  img{
    max-width: 100%;
  }
  > header, footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: fit-content;
  }
}
div#left {
  // border: thin solid blue;
  top: 0;
  left: 0;
  position: fixed;
  border-radius: 1rem;
  height: calc(100svh - 10px);
  height: calc(100dvh - 10px);
  width: 3rem;
  margin: 5px;
  z-index: 1;
  &:hover {
    z-index: 5;
  }
  > div {
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    div {
       border: thin solid blue;
       border-radius: 1rem;
       background-color: #F0F0F0
   }
   img {
    max-height: 3rem;
   }
    div.lefttop {
      display: block;
      margin: 0.1rem;
      padding: 0.5rem;
      width: fit-content;
      height: fit-content;
    }
    div.leftbottom {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.5rem;
    }
  }
}

header details {
    summary {
        &::marker {
            content: "";
        }
    display: flex;
    align-items: center;
    gap: 1rem;  
  }
  &[open] {
    border: thin solid darkblue;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
      > summary {
        display: none;
      }
  }
}

div.stackcenter{
    display: grid;
    place-items: center;
    * {
        grid-row: 1/2;
        grid-column: 1/2;        
    }
    span{
        color: black;
        font-weight: 600;
        font-size: 2.5rem;
        text-shadow: 1px 1px 0px #fff, 2px 2px 0px rgba(56, 54, 23, 0.3);
    }
}

main {
    display: block;
    align-items: center;
    gap: 1rem;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: fit-content;
    article{
        margin-top: 1rem;
        padding: 0.5rem;
        border: thin solid yellowgreen;
        border-radius: 1rem;    
        background-color: #fff;  
        textarea{
            min-width: 100%;
            height: auto;
            overflow: hidden;
        }  
    }
}

span.imgrow {
    display: flex;
    // border: thin solid red;
    img {
        max-width: 3rem;
        margin: 0.3rem;
    }
}

div :has( > div.row){
    // background-color: aquamarine;
    display: table;
    div.row {
        display: table-row;
        span {
            display: table-cell;
            border: thin solid #ddd;
            padding: 0.2rem;
            input {
                size: 6;
                width: 6rem;
                border: none;
            }
            select {
                border: none;
                appearance: none;
                padding: 0.2rem;
                background-color: aquamarine;
            }
        }
    }
}

